<html>
    <head>
        <title>Charlotte's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Charlotte's Cool Blog</a></h1>
        </div>

        <div>
            <p>published: 06.05.2017, 16:46</p>
            <h2><a href="">Hello</a></h2>
            <p>This is a really good blog.</p>
        </div>

        <div>
            <p>published: 06.05.2017, 16:49</p>
            <h2><a href="">Another cool post</a></h2>
            <p>If only other websites were this good.</p>
        </div>
    </body>
</html>
